# =========================================
#
# Personal aliases for this environment
#
# =========================================


# ----------------------------------------
# Global aliases
# ----------------------------------------
alias ls='ls --color=tty'
alias ll='ls -al'
alias test-port='nc -z -v -w5'

# Tool to test ports
test_port(){
    if [ $# -eq 2 ]; then
        nc -z -v -w5 $1 $2
    else
        echo "Usage: test-port HOST PORT"
    fi
}
alias test-port="test_port"


# ----------------------------------------
# Docker compose aliases
# ----------------------------------------
alias dc='docker-compose'
alias dc-up='dc up -d'
alias dc-init='dc stop ; dc rm -f; dc pull ; dc-up'
alias dc-reset='dc stop ; dc rm -f ; dc-up'

# Change compose app prefix
dc_prefix(){
    if [ $# -eq 0 ]; then
        echo $COMPOSE_PROJECT_NAME
    else
        export COMPOSE_PROJECT_NAME=$1
    fi
}
alias dc-prefix="dc_prefix"


# ----------------------------------------
# Docker aliases
# ----------------------------------------

# Docker cmd shortener
alias dk="docker"

# Show ip of a docker container
alias dk-ip="docker inspect --format '{{ .NetworkSettings.IPAddress }}' $1"

# Kill all running containers.
alias dk-killall='docker kill $(docker ps -q)'

# Delete all stopped containers.
alias dk-cleanc='printf "\n>>> Deleting stopped containers\n\n" && docker rm $(docker ps -a -q)'

# Delete all untagged images.
alias dk-cleani='printf "\n>>> Deleting untagged images\n\n" && docker rmi $(docker images -q -f dangling=true)'

# Delete all stopped containers and untagged images.
alias dk-clean='dk-cleanc || true && dk-cleani'

# Get a ssh inside a container
dk_sh() {
    docker exec -ti $1 /bin/sh
}
alias dk-sh='dk_sh'

# See files tree in a container
dk_ls() {
    docker exec -ti $1 /bin/ls -l $2
}
alias dk-ls='dk_ls'

# See files content inside a container
dk_cat() {
    docker exec -ti $1 /bin/cat $2
}
alias dk-cat='dk_cat'

# Edit files content inside a container
dk_vi() {
    docker exec -ti $1 /bin/vi $2
}
alias dk-vi='dk_vi'

# Misc
alias dk-flogs="docker logs -f $1"

